*{
    margin: 0;
    padding: 0;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #DFF5FF;
}

.container{
    background-color: #67C6E3;
    min-width: 50vh;
    min-height: 60vh;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 2px solid black;
}

.container .weight, 
.container .height {
    display: flex;
    font-size: 1.3rem;
    gap: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;

}


button{
    height: 2rem;
    width: 9rem;
    margin-top: 9vh;
    background-color: #378CE7;
}
h1{
    margin-top: 6vh;
}

#wt{
    margin-left: 15px;
}
input{
    height: 2rem;
    color: #070F2B;
}

.result{
    height: 6rem;
    width: 20rem;
    background-color: #5356FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}